{% extends "layout.html" %}

{% block body %}

        <br>
    <h3><strong>Control Panel</strong></h3>
        <hr>
    <p>Welcome, <small> {{ request.user.username }} </small></p>
        <hr>
    <a class="btn btn-info" href="/articles/addarticle">Create Article</a>
        <br>
        <br>
    
    {% if articles %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td><a href="{% url 'article:detail' article.id  %}">{{ article.title }}</a></td>
                        <td>{{ article.username }}</td>
                        <td>{{ article.created_date }}</td>
                        <td><a class="btn btn-primary" href="{% url 'article:update' article.id  %}">Update</a></td>
                        <td><a class="btn btn-danger" href="{% url 'article:delete' article.id  %}">Delete</a></td>
                    </tr>

                {% endfor %}
            
            </tbody>
        </table>

    {% else %}

        <div class="alert alert-info">
            You have no articles yet.
        </div>

    {% endif %}

{% endblock body %}


